aws_access_key:
aws_secret_key:
slack_alarm:
aws_key_pair:
certificate_arn:
ons_access_ips:
slack_webhook_url:

dockerhub_username:
dockerhub_password:
docker_registry:

#Terraform
env:
ons_access_ips:
certificate_arn:
slack_webhook_path:
pem: