# Dev
dev_aws_account_id:
dev_aws_assume_role_arn:
staging_ons_access_ips:
staging_certificate_arn:
staging_author_firebase_project_id:
staging_author_firebase_api_key:
staging_cypress_record_key:

# PreProd
preprod_aws_account_id:
preprod_aws_assume_role_arn:
preprod_ons_access_ips:
preprod_vpc_id:
preprod_certificate_arn:
preprod_aws_alb_arn:
preprod_aws_alb_listener_arn:
preprod_slack_alert_sns_arn:
preprod_database_host:
preprod_database_port:
preprod_database_name:
preprod_rabbitmq_ip_prime:
preprod_rabbitmq_ip_failover:
preprod_google_analytics_code:
preprod_author_firebase_project_id:
preprod_author_firebase_api_key:
preprod_submitted_responses_table_arn:
preprod_questionnaire_state_table_arn:
preprod_eq_session_table_arn:
preprod_used_jti_claim_table_arn:

preprod_internet_gateway_id:
preprod_vpc_peer_connection_id:
preprod_database_subnet_ids:
preprod_database_user:
preprod_database_password:
preprod_database_snapshot_identifier:
preprod_queue_key_pair:
preprod_rabbitmq_admin_user:
preprod_rabbitmq_admin_password:
preprod_rabbitmq_write_user:
preprod_rabbitmq_write_password:
preprod_rabbitmq_read_user:
preprod_rabbitmq_read_password:

preprod_public_subnet_ids:
preprod_private_route_table_ids:
preprod_eq_gateway_ips:

  # Author
preprod_author_vpc_id:
preprod_author_internet_gateway_id:
preprod_author_database_subnet_ids:
preprod_author_public_subnet_ids:
preprod_author_private_route_table_ids:
preprod_author_gateway_ips:
preprod_author_aws_external_alb_arn:
preprod_author_aws_alb_external_listener_arn:
preprod_author_ecs_alb_security_group:
preprod_author_applicaiton_subnet_ids:

preprod_author_database_connection_string:

preprod_author_database_name:
preprod_author_database_user:
preprod_author_database_password:
preprod_author_database_snapshot_identifier:

preprod_author_submitted_responses_table_arn:
preprod_author_questionnaire_state_table_arn:
preprod_author_eq_session_table_arn:
preprod_author_used_jti_claim_table_arn:

preprod_author_fullstory_org:
preprod_author_sentry_dns:

preprod_address_lookup_url:
preprod_address_lookup_auth_token:

# Prod
prod_aws_account_id:
prod_aws_assume_role_arn:
prod_ons_access_ips:
prod_vpc_id:
prod_aws_alb_arn:
prod_aws_alb_listener_arn:
prod_slack_alert_sns_arn:
prod_database_host:
prod_database_port:
prod_database_name:
prod_rabbitmq_ip_prime:
prod_rabbitmq_ip_failover:
prod_google_analytics_code:
prod_author_firebase_project_id:
prod_author_firebase_api_key:
prod_submitted_responses_table_arn:
prod_questionnaire_state_table_arn:
prod_eq_session_table_arn:
prod_used_jti_claim_table_arn:
prod_dns_zone_name:

prod_internet_gateway_id:
prod_vpc_peer_connection_id:
prod_database_subnet_ids:
prod_database_user:
prod_database_password:
prod_database_snapshot_identifier:
prod_queue_key_pair:
prod_rabbitmq_admin_user:
prod_rabbitmq_admin_password:
prod_rabbitmq_write_user:
prod_rabbitmq_write_password:
prod_rabbitmq_read_user:
prod_rabbitmq_read_password:

prod_public_subnet_ids:
prod_private_route_table_ids:
prod_eq_gateway_ips:
prod_certificate_arn:

# Author
prod_author_vpc_id:
prod_author_internet_gateway_id:
prod_author_database_subnet_ids:
prod_author_public_subnet_ids:
prod_author_private_route_table_ids:
prod_author_gateway_ips:
prod_author_aws_external_alb_arn:
prod_author_aws_alb_external_listener_arn:
prod_author_ecs_alb_security_group:
prod_author_applicaiton_subnet_ids:
prod_author_database_connection_string:
prod_author_database_name:
prod_author_database_user:
prod_author_database_password:
prod_author_database_snapshot_identifier:
prod_author_submitted_responses_table_arn:
prod_author_questionnaire_state_table_arn:
prod_author_eq_session_table_arn:
prod_author_used_jti_claim_table_arn:

prod_author_fullstory_org:
prod_author_sentry_dns:

# Global
github_access_token:
new_relic_licence_key:
docker_registry:
slack_webhook_url:
slack_webhook_path:

#Terraform
pem: