dev_aws_access_key:
dev_aws_secret_key:

preprod_aws_access_key:
preprod_aws_secret_key:
preprod_vpc_id:
preprod_aws_alb_arn:
preprod_aws_alb_listener_arn:
preprod_slack_alert_sns_arn:
preprod_database_host:
preprod_database_port:
preprod_database_name:
preprod_author_database_connection_string:
preprod_rabbitmq_ip_prime:
preprod_rabbitmq_ip_failover:
preprod_google_analytics_code:
preprod_author_firebase_project_id:
preprod_author_firebase_api_key:
preprod_author_firebase_messaging_sender_id:
preprod_submitted_responses_table_arn:

github_access_token:

new_relic_licence_key:

docker_registry:

slack_webhook_url:

#Terraform
ons_access_ips:
certificate_arn:
slack_webhook_path:
pem: